//Colors
$blue: #39c;
$black: #222;
$grey: #555;
$pink: #9b51e0;
$void: linear-gradient(128.21deg, #b6b6b6 -33.4%, #222222 81.87%);
$outsider: linear-gradient(111.33deg, #3399cc -4.88%, #9b51e0 82.71%);

//Sizes
h2 {
    font-size: 2.3125em;
}
h3 {
    font-size: 1.5417em;
}
h4 {
    font-size: 1.1667em;
}
h5 {
    font-size: 1.0208em;
}

//Optional element options
br {
    display: block;
    margin: 5px;
}

a {
    color: $blue;
    text-decoration: none;
}

p {
    font-family: "Istok Web", sans-serif;
    text-rendering: optimizeLegibility;
}

//Screen Ratio snippets
$macbook: "screen and (max-width: 1440px)";
$ipad: "screen and (max-width: 1000px)";
$iphone: "screen and (max-width: 600px)";
